@keyframes fadeInDown {
  0% {
    height: 0;
    opacity: 0;
    //transform: translate3d(0, -100%, 0);
  }
  to {
    height: calc(100vh - 67px);
    opacity: 1;
    //transform: translateZ(0);
  }
}

@keyframes fadeOutUp {
  0% {
    height: calc(100vh - 67px);
    opacity: 1;
    //transform: translateZ(0);
  }
  to {
    height: 0;
    opacity: 0;
    //transform: translate3d(0, -20%, 0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
    display: flex;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}

@keyframes marquee {
  from {
    transform: translate(50%);
  }
  99%,
  to {
    transform: translate(0%);
  }
}

/*
@keyframes blinkCursor {
  0%,
  75% {
    opacity: 1;
  }
  75%,
  100% {
    opacity: 0;
  }
}

@keyframes typing {
  0% {
    width: 0;
  }
  30% {
    //width: ;
  }
}
*/
