/* footer */
#footer {
  width: 100%;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(4, 159, 108) 0%,
    rgb(194, 254, 113) 90.1%
  );
  padding: 28px 36px 32px;
  .copyright li {
    font-weight: 400;
    font-family: "Inter", "Noto Sans KR", sans-serif;
    color: #fff;
    text-decoration: none;
    list-style: none;
    text-align: left;
    font-size: 16px;
    line-height: 24px;
  }
}
