/* footer */
#footer {
  margin: 30px 0;
  .copyright li {
    font-weight: bold;
    font-family: "M PLUS Rounded 1c", sans-serif;
    text-decoration: none;
    list-style: none;
    text-align: center;
    font-size: 15px;
  }
}
