@import "./variables.scss";
@import "./responsive.scss";
@import "./animation.scss";

@mixin menuItemHoverStyle {
  transition: 0.6s;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.9);
  a {
    font-weight: bold;
    color: $primary-color;
  }
}

@mixin menuItemStyle {
  font-size: 16px;
  line-height: 16px;
  border-radius: 52px;
  padding: 8px 16px;
  background: transparent;
  a {
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    font-weight: 400;
  }
}

/* header */
#header {
  position: fixed;
  top: 0;
  left: 0;
  font-family: "Inter", sans-serif;
  transition: 0.6s;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 12px 24px;
  box-sizing: border-box;
  background: $primary-color;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);

  @include mobileNTablet {
    justify-content: center;
  }

  .logo {
    margin-right: 24px;
    @include mobileNTablet {
      margin: 0;
    }
  }

  nav {
    flex: 1;
    @include mobileNTablet {
      display: none;
    }

    .menu-links {
      display: flex;
      align-items: center;
      .menu-item {
        @include menuItemStyle;
      }
      .menu-item:hover {
        @include menuItemHoverStyle;
      }
      & > .menu-item:not(:first-child) {
        @extend .menu-item;
        margin-left: 8px;
      }
    }
  }

  .login-btn {
    @include menuItemStyle;
    @include mobileNTablet {
      display: none;
    }
  }

  .login-btn:hover {
    @include menuItemHoverStyle;
  }
}

// 모바일 뷰 관련 스타일 정의

#menu-icon-btn {
  position: absolute;
  left: 20;
  display: none;
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  width: 44px;
  height: 44px;
  box-sizing: border-box;
  border-radius: 50%;
  flex-direction: column;
  cursor: pointer;
  &:hover {
    background-color: $interaction-color;
  }
  @include mobileNTablet {
    display: flex;
  }

  .menuIconShow {
    animation: fadeIn 1s forwards;
  }
  .menuIconHide {
    animation: fadeOut 1s forwards;
  }

  #menuIcon {
    position: absolute;
    top: 11;
    left: 12;
  }
  #menuCloseIcon {
    position: absolute;
    top: 13;
    left: 14;
    opacity: 0;
  }
}

#full-menu-view {
  position: absolute;
  top: 67px;
  left: 0;
  width: 100vw;
  height: 0;
  overflow: hidden;
  background: $secondary-color;

  .menu-item {
    width: 100%;
    &:hover {
      background-color: $interaction-color;
    }

    a {
      display: flex;
      justify-content: center;
      width: 100%;
      color: #fff;
      padding: 32px 0px;
      font-size: 16px;
      line-height: 16px;
      font-weight: 300;
    }
  }
}

#full-menu-view.open-full-menu-view {
  animation: fadeInDown 0.5s forwards;
}

#full-menu-view.close-full-menu-view {
  animation: fadeOutUp 0.5s forwards;
}
