@import "./variables.scss";

a {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  li {
    color: #000;
    padding: 0;
    margin: 0;
  }
}

@mixin mobile {
  @media (max-width: #{$breakpoint-mobile - 1px}) {
    @content;
  }
}

@mixin mobileNTablet {
  @media (max-width: #{$breakpoint-tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-mobile}) and (max-width: #{$breakpoint-tablet - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-tablet}) {
    @content;
  }
}

@mixin menuItemHoverStyle {
  transition: 0.6s;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.9);
  a {
    font-weight: bold;
    color: #e73b63;
  }
}

@mixin menuItemStyle {
  font-size: 16px;
  line-height: 16px;
  border-radius: 52px;
  padding: 8px 16px;
  background: transparent;
  a {
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    font-weight: 400;
  }
}

/* header */
#header {
  position: relative;
  font-family: "Inter", sans-serif;
  transition: 0.6s;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 12px 24px;
  box-sizing: border-box;
  background: #e73b63;
  @include mobileNTablet {
    justify-content: center;
  }

  .logo {
    margin-right: 24px;
    @include mobileNTablet {
      margin: 0;
    }
  }

  #menu-icon-btn {
    position: absolute;
    left: 24;
    display: none;
    border: none;
    background: transparent;
    margin: 0;
    padding: 0;
    @include mobileNTablet {
      display: flex;
    }
  }

  nav {
    @include mobileNTablet {
      display: none;
    }
    flex: 1;
    .menu-links {
      display: flex;
      align-items: center;
      .menu-item {
        @include menuItemStyle;
      }
      .menu-item:hover {
        @include menuItemHoverStyle;
      }
      & > .menu-item:not(:first-child) {
        @extend .menu-item;
        margin-left: 8px;
      }
    }
  }

  .login-btn {
    @include menuItemStyle;
    @include mobileNTablet {
      display: none;
    }
  }
  .login-btn:hover {
    @include menuItemHoverStyle;
  }
}

@keyframes fadeInDown {
  0% {
    height: 0;
    opacity: 0;
    //transform: translate3d(0, -100%, 0);
  }
  to {
    height: calc(100vh - 67px);
    opacity: 1;
    //transform: translateZ(0);
  }
}

@keyframes fadeOutUp {
  0% {
    height: calc(100vh - 67px);
    opacity: 1;
    //transform: translateZ(0);
  }
  to {
    height: 0;
    opacity: 0;
    //transform: translate3d(0, -20%, 0);
  }
}

#full-menu-view {
  position: absolute;
  top: 67px;
  left: 0;
  width: 100vw;
  height: 0;
  background-color: #fff;
  overflow: hidden;
  background: #e73b63;
  .menu-item {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 32px 0px;
    border-bottom: 0.5px solid #fff;
    a {
      font-size: 16px;
      line-height: 16px;
      color: #fff;
      font-weight: 300;
    }
  }
}

#full-menu-view.open-full-menu-view {
  animation: fadeInDown 0.5s forwards;
}

#full-menu-view.close-full-menu-view {
  animation: fadeOutUp 0.5s forwards;
}
