@import url("https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
@import "./header.scss";
@import "./footer.scss";

@mixin contentBox {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content {
  @include contentBox;
  .swiper-container {
    width: 100%;
  }
  .swiper-slide {
    width: 200px;
    height: 280px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    filter: blur(4px);

    .swiper-slide-shadow-left,
    .swiper-slide-shadow-right {
      background-image: none;
    }
  }
  .swiper-slide-active {
    filter: blur(0px);
    opacity: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  }
  .card-slider-container {
    flex: 1;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
    overflow: hidden;
  }
}
