{{> header }}
<main class="main-content">
  <h4 class="font-sans font-bold text-blue-800">메뉴 소개</h4>
  <section class="card-slider-container">
    {{> cardSlider }}
  </section>
</main>
{{> footer }}
