{{> header }}
<main class="main-content">
  <section class="flex items-center justify-center w-full h-44 shrink-0 bg-secondary">
    <span>Flosvia</span>
  </section>
  <section class="menu-intro-section w-full flex-1 flex items-center justify-center">
    <div class="card-slider-container">
      {{> cardSlider }}
    </div>
  </section>
  {{> footer }}
</main>
