<div class="main-content">
  {{> header }}
  <div class="club-info-box">
    <img src="images/main.png" alt="대표이미지" />
    <div class="intro-text">
      <span>
        ~Just 동물농장~
        <br />
        많이 제정신이 아닌 친구들 🐼🐱🐌🐧
        <br />
      </span>
    </div>
  </div>
  {{> footer }}
</div>