{{> header }}
<main class="main-content">
  <section class="banner-section flex items-center justify-center w-full h-32 shrink-0 bg-secondary">
    <span>안녕하세요. 여기는 잡초 동아리 Flosvia 웹페이지 입니다.</span>
  </section>
  <section class="menu-intro-section w-full flex-1 flex items-center justify-center">
    <div class="card-slider-container">
      {{> cardSlider }}
    </div>
  </section>
  {{> footer }}
</main>
