<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/tailwindCompile.css" />
    <link rel="stylesheet" href="{{stylesheet}}" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/webfont-kr/KoPubDotum@master/KoPubDotum.css"
    />
    {{#if jsfile}}
      <script type="text/javascript" src="{{jsfile}}"></script>
    {{/if}}
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>