<div class="login-content">
  <header id="header">
    <div class="logo">
      <a href="../">
        <img src="images/logo.png" alt="로고" />
      </a>
    </div>
  </header>
  <div style="flex:1">
    <div class="login-box">
      <h2>Flosvia Login</h2>
      <div class="divider"></div>
      <input type="text" id="email-input" placeholder="아이디 입력" />
      <input type="password" id="pwd-input" placeholder="비밀번호 입력" />
      <button id="login-submit-btn" type="button">로그인</button>
    </div>
  </div>
</div>
<script type="module">
  import { loginHandler } from "./javascripts/login.js" 
  
  const apiUrl = "{{getServerUrl}}"
  loginHandler(apiUrl)
</script>