@import url("https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
a {
  padding: 0;
  margin: 0;
  text-decoration: none; }

ul {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none; }
  ul li {
    color: #000;
    padding: 0;
    margin: 0; }

/* header */
#header {
  position: relative;
  font-family: "Inter", sans-serif;
  transition: 0.6s;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 12px 24px;
  box-sizing: border-box;
  background: #e73b63; }
  @media (min-width: 360px) and (max-width: 767px) {
    #header {
      justify-content: center; } }
  #header .logo {
    margin-right: 24px; }
    @media (min-width: 360px) and (max-width: 767px) {
      #header .logo {
        justify-self: center;
        margin: 0; } }
  #header nav {
    flex: 1; }
    @media (min-width: 360px) and (max-width: 767px) {
      #header nav {
        display: none; } }
    #header nav .menu-links {
      display: flex;
      align-items: center; }
      #header nav .menu-links .menu-item, #header nav .menu-links > .menu-item:not(:first-child) {
        font-size: 16px;
        line-height: 16px;
        border-radius: 52px;
        padding: 8px 16px;
        background: transparent; }
        #header nav .menu-links .menu-item a, #header nav .menu-links > .menu-item:not(:first-child) a {
          font-size: 16px;
          line-height: 16px;
          color: #fff;
          font-weight: 400; }
      #header nav .menu-links .menu-item:hover {
        transition: 0.6s;
        font-weight: bold;
        background: rgba(255, 255, 255, 0.9); }
        #header nav .menu-links .menu-item:hover a {
          font-weight: bold;
          color: #e73b63; }
      #header nav .menu-links > .menu-item:not(:first-child) {
        margin-left: 8px; }
  #header .login-btn {
    font-size: 16px;
    line-height: 16px;
    border-radius: 52px;
    padding: 8px 16px;
    background: transparent; }
    #header .login-btn a {
      font-size: 16px;
      line-height: 16px;
      color: #fff;
      font-weight: 400; }
    @media (min-width: 360px) and (max-width: 767px) {
      #header .login-btn {
        display: none; } }
  #header .login-btn:hover {
    transition: 0.6s;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.9); }
    #header .login-btn:hover a {
      font-weight: bold;
      color: #e73b63; }

/* footer */
#footer {
  margin: 30px 0; }
  #footer .copyright li {
    font-weight: bold;
    font-family: "M PLUS Rounded 1c", sans-serif;
    text-decoration: none;
    list-style: none;
    text-align: center;
    font-size: 15px; }

body {
  margin: 0; }

.main-content {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .main-content .club-info-box {
    flex: 1;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px; }
    .main-content .club-info-box img {
      width: 40%; }
    .main-content .club-info-box .intro-text {
      margin-top: 24px;
      padding-bottom: 20px; }
    .main-content .club-info-box .intro-text span {
      text-align: center;
      list-style: none;
      color: #000;
      font-size: 20px;
      font-weight: 500;
      font-family: "KoPub Dotum"; }
