@import url("https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c");
@keyframes fadeInDown {
  0% {
    height: 0;
    opacity: 0; }
  to {
    height: calc(100vh - 67px);
    opacity: 1; } }

@keyframes fadeOutUp {
  0% {
    height: calc(100vh - 67px);
    opacity: 1; }
  to {
    height: 0;
    opacity: 0; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  to {
    opacity: 1;
    display: flex; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  to {
    opacity: 0;
    display: none; } }

/* header */
#header {
  position: fixed;
  top: 0;
  left: 0;
  font-family: "Inter", sans-serif;
  transition: 0.6s;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 12px 24px;
  box-sizing: border-box;
  background: #e73b63;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); }
  @media (max-width: 959px) {
    #header {
      justify-content: center; } }
  #header .logo {
    margin-right: 24px; }
    @media (max-width: 959px) {
      #header .logo {
        margin: 0; } }
  #header nav {
    flex: 1; }
    @media (max-width: 959px) {
      #header nav {
        display: none; } }
    #header nav .menu-links {
      display: flex;
      align-items: center; }
      #header nav .menu-links .menu-item, #header nav .menu-links > .menu-item:not(:first-child) {
        font-size: 16px;
        line-height: 16px;
        border-radius: 52px;
        padding: 8px 16px;
        background: transparent; }
        #header nav .menu-links .menu-item a, #header nav .menu-links > .menu-item:not(:first-child) a {
          font-size: 16px;
          line-height: 16px;
          color: #fff;
          font-weight: 400; }
      #header nav .menu-links .menu-item:hover {
        transition: 0.6s;
        font-weight: bold;
        background: rgba(255, 255, 255, 0.9); }
        #header nav .menu-links .menu-item:hover a {
          font-weight: bold;
          color: #e73b63; }
      #header nav .menu-links > .menu-item:not(:first-child) {
        margin-left: 8px; }
  #header .login-btn {
    font-size: 16px;
    line-height: 16px;
    border-radius: 52px;
    padding: 8px 16px;
    background: transparent; }
    #header .login-btn a {
      font-size: 16px;
      line-height: 16px;
      color: #fff;
      font-weight: 400; }
    @media (max-width: 959px) {
      #header .login-btn {
        display: none; } }
  #header .login-btn:hover {
    transition: 0.6s;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.9); }
    #header .login-btn:hover a {
      font-weight: bold;
      color: #e73b63; }

#menu-icon-btn {
  position: absolute;
  left: 20;
  display: none;
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  width: 44px;
  height: 44px;
  box-sizing: border-box;
  border-radius: 50%;
  flex-direction: column;
  cursor: pointer; }
  #menu-icon-btn:hover {
    background-color: rgba(161, 41, 69, 0.3); }
  @media (max-width: 959px) {
    #menu-icon-btn {
      display: flex; } }
  #menu-icon-btn .menuIconShow {
    animation: fadeIn 1s forwards; }
  #menu-icon-btn .menuIconHide {
    animation: fadeOut 1s forwards; }
  #menu-icon-btn #menuIcon {
    position: absolute;
    top: 11;
    left: 12; }
  #menu-icon-btn #menuCloseIcon {
    position: absolute;
    top: 13;
    left: 14;
    opacity: 0; }

#full-menu-view {
  position: absolute;
  top: 67px;
  left: 0;
  width: 100vw;
  height: 0;
  overflow: hidden;
  background: #eb6282; }
  #full-menu-view .menu-item, #full-menu-view #header nav .menu-links > .menu-item:not(:first-child), #header nav #full-menu-view .menu-links > .menu-item:not(:first-child) {
    width: 100%; }
    #full-menu-view .menu-item:hover, #full-menu-view #header nav .menu-links > .menu-item:hover:not(:first-child), #header nav #full-menu-view .menu-links > .menu-item:hover:not(:first-child) {
      background-color: rgba(161, 41, 69, 0.3); }
    #full-menu-view .menu-item a, #full-menu-view #header nav .menu-links > .menu-item:not(:first-child) a, #header nav #full-menu-view .menu-links > .menu-item:not(:first-child) a {
      display: flex;
      justify-content: center;
      width: 100%;
      color: #fff;
      padding: 32px 0px;
      font-size: 16px;
      line-height: 16px;
      font-weight: 300; }

#full-menu-view.open-full-menu-view {
  animation: fadeInDown 0.5s forwards; }

#full-menu-view.close-full-menu-view {
  animation: fadeOutUp 0.5s forwards; }

/* footer */
#footer {
  margin: 30px 0; }
  #footer .copyright li {
    font-weight: bold;
    font-family: "M PLUS Rounded 1c", sans-serif;
    text-decoration: none;
    list-style: none;
    text-align: center;
    font-size: 15px; }

body {
  margin: 0; }

.member-content {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center; }
