@import url("https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c");
a {
  padding: 0;
  margin: 0;
  text-decoration: none; }

/* header */
#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 30px 30px 0px;
  box-sizing: border-box; }
  #header .flex-box {
    display: flex;
    width: 100%; }
    #header .flex-box #nickname {
      display: flex;
      flex: 1;
      justify-content: flex-start;
      font-size: 14px;
      font-family: "KoPub Dotum";
      color: #000; }
    #header .flex-box .logo img {
      height: 110px; }
    #header .flex-box #my-menu {
      display: flex;
      justify-content: flex-end;
      flex: 1; }
      #header .flex-box #my-menu li {
        display: flex;
        height: 35px;
        width: 80px;
        border-radius: 25px;
        border-style: solid;
        border-width: 2px;
        border-color: #b7b7b7;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        list-style: none;
        color: #b7b7b7; }
        #header .flex-box #my-menu li:hover {
          border-color: #e73b63; }
          #header .flex-box #my-menu li:hover a {
            color: #e73b63; }
        #header .flex-box #my-menu li a {
          color: #b7b7b7;
          font-size: 12px;
          font-family: "KoPub Dotum"; }
  #header #menu-bar {
    margin-top: 30px; }

#header #menu-bar .links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: fit-content;
  height: 30px;
  border-radius: 20px;
  border-style: solid;
  border-color: #e73b63;
  background-color: #e73b63;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 14px 40px;
  box-sizing: border-box; }
  #header #menu-bar .links li {
    display: flex;
    align-items: center;
    padding: 0 36px; }
    #header #menu-bar .links li:hover a {
      color: #000000; }
    #header #menu-bar .links li a {
      color: white;
      font-family: "KoPub Dotum"; }

/* footer */
#footer {
  margin: 30px 0; }
  #footer .copyright li {
    font-weight: bold;
    font-family: "M PLUS Rounded 1c", sans-serif;
    text-decoration: none;
    list-style: none;
    text-align: center;
    font-size: 15px; }

body {
  margin: 0; }

.notice-content {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center; }
